.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 600px;
  margin: auto;
}
.input-style {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}
.btn-primary, .btn-danger {
  padding: 8px 12px;
  margin-right: 8px;
  cursor: pointer;
}
.task-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 10px 0;
}
